In [2]:
import pandas as pd
import csv
import os

#standard library
from collections import namedtuple
import os

# pydata
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# bson-numpy libraries
import numpy as np
from bson import CodecOptions
from bson.raw_bson import RawBSONDocument
from pymongo import MongoClient
#import bsonnumpy

# other libraries
#import maya

In [3]:

#Read in eventing csv
resultsdata = pd.read_csv('eedata.csv') 
resultsdata.head()

,Division,Event,Rider,Horse,Dress Score,Dress Place,Stad Jump,Stad Time,To Date Score,To Date Place,XC Jump,XC Elapsed,XC Time,Final Score,Final Place
0,Introductory-A,Full Moon Farms H.T.(Nov 2020),Aylah Dhruv,Sig,37.00,7,0.00,0.00,37.00,5,0.00,4:54,0.00,37.00,1
1,Introductory-A,Full Moon Farms H.T.(Nov 2020),Christine Hryzak,FMF SOL,34.30,4-T,4.00,0.00,38.30,7,0.00,4:56,0.00,38.30,2
2,Introductory-A,Full Moon Farms H.T.(Nov 2020),F. Mooregan Hankins,Ringwood Cheddar,37.80,8,0.00,7.60,45.40,9,0.00,5:12,0.00,45.40,3
3,Introductory-A,Full Moon Farms H.T.(Nov 2020),Jodie Potts,Cat's Confetti,35.80,6,0.00,0.00,35.80,4,0.00,4:14,10.40,46.20,4
4,Introductory-A,Full Moon Farms H.T.(Nov 2020),Amanda Michael,Cash Bonanza,34.00,2-T,0.00,0.00,34.00,2,0.00,3:50,20.00,54.00,5

In [4]:
resultsdata.count()

Division         59902
Event            59921
Rider            59921
Horse            59921
Dress Score      59921
Dress Place      59921
Stad Jump        59921
Stad Time        59921
To Date Score    59921
To Date Place    59921
XC Jump          59921
XC Elapsed       59921
XC Time          59921
Final Score      59918
Final Place      59918
dtype: int64

In [5]:
#Get Mongo 
# get mongodb params from environment
mlab_uri = os.getenv('MLAB_URI')
mlab_collection = os.getenv('MLAB_COLLECTION')

In [19]:
resultsdata.Division.unique()

array(['Introductory-A', 'Introductory-B', 'Open Starter', ...,
       'Preliminary Combined Test A', 'Preliminary Combined Test B',
       'Preliminary/Training 3-Phase'], dtype=object)

In [17]:
#sort data to only show division

resultsdata_novice = resultsdata[resultsdata.Division.eq[("Novice")]
resultsdata_novice.head()

SyntaxError: invalid syntax (<ipython-input-17-9866bd80fcf3>, line 4)

In [39]:

#find total count of each division
divisions_df = resultsdata['Division'].value_counts()
divisions_df

Open Preliminary                        2081
Open Training                           1808
Open Novice                             1705
Open Beginner Novice                    1702
Preliminary Rider                       1328
                                        ...
Extra XC round                             1
Dressage Test of Choice Training Sat       1
Show Jumping 3'11"                         1
Dressage Beg Nov B                         1
USDF Dressage test                         1
Name: Division, Length: 1408, dtype: int64

In [41]:
#Un Items
division_list = len(divisions_df.unique())

AttributeError: 'int' object has no attribute 'head'

In [47]:
#  Number of Indidual Divisions
div_stats = len(resultsdata["Division"].unique())
div_stats
#Avg Price
# Avg_Price = purchase_df['Price'].mean()
# #Total Numberof purchases
# Num_Purchases = len(purchase_df['Purchase ID'])
# #Total Revenue
# Total_Revenue = sum(purchase_df['Price'])

# purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items],
#                             "Average Purchase Price":[Avg_Price],
#                             "Total Number of Purchases":[Num_Purchases],
#                            "Total Revenue": [Total_Revenue]
#                                       })
# purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
# purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
# purchasing_analysis_df

1409

In [ ]:
Group by Shape, then year, and find a count 

year_group_df = smaller_data.groupby(['Shape_2', 'Year'])
year_group_df

count_year_df = year_group_df.count()
count_year_df