In [12]:
import pandas as pd
import csv
import os

In [14]:

#Read in eventing csv
resultsdata = pd.read_csv('eedata.csv') 
resultsdata.head()

,Division,Event,Rider,Horse,Dress Score,Dress Place,Stad Jump,Stad Time,To Date Score,To Date Place,XC Jump,XC Elapsed,XC Time,Final Score,Final Place
0,Introductory-A,Full Moon Farms H.T.(Nov 2020),Aylah Dhruv,Sig,37.00,7,0.00,0.00,37.00,5,0.00,4:54,0.00,37.00,1
1,Introductory-A,Full Moon Farms H.T.(Nov 2020),Christine Hryzak,FMF SOL,34.30,4-T,4.00,0.00,38.30,7,0.00,4:56,0.00,38.30,2
2,Introductory-A,Full Moon Farms H.T.(Nov 2020),F. Mooregan Hankins,Ringwood Cheddar,37.80,8,0.00,7.60,45.40,9,0.00,5:12,0.00,45.40,3
3,Introductory-A,Full Moon Farms H.T.(Nov 2020),Jodie Potts,Cat's Confetti,35.80,6,0.00,0.00,35.80,4,0.00,4:14,10.40,46.20,4
4,Introductory-A,Full Moon Farms H.T.(Nov 2020),Amanda Michael,Cash Bonanza,34.00,2-T,0.00,0.00,34.00,2,0.00,3:50,20.00,54.00,5

In [15]:
resultsdata.count()

Division         59902
Event            59921
Rider            59921
Horse            59921
Dress Score      59921
Dress Place      59921
Stad Jump        59921
Stad Time        59921
To Date Score    59921
To Date Place    59921
XC Jump          59921
XC Elapsed       59921
XC Time          59921
Final Score      59918
Final Place      59918
dtype: int64

In [22]:
resultsdata.groupby["Division"]
resultsdata

TypeError: 'method' object is not subscriptable